<div [@routerTransition]>
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-xs-12">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Downloads")}}</span>
                </h3>
                <span class="m-section__sub">
                    Manage Your Downloads
                </span>
            </div>
        </div>
    </div>


    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <div class="m-portlet__head-title">
                    <h5 class="m-subheader__title m-subheader__title--separator" style="font-weight:600;color:#5867dd;font-size: 1.15rem !important;">
                        <span>{{l("VENUE FOR OUTLOOK")}}</span>
                    </h5>
                </div>
                <hr/>
                <div class="portlet-body">
                    <p style="font-size:14px;">
                        The Venue for Outlook plugin let's you use Venue within Outlook, and offers
                        all the same great features as the mobile app.
                    </p>
                    <!--<p><a class="btn btn-primary" href="/portal/Common/Downloads/VenueForOutlook.1.0.0.23243.msi">Download (.msi)</a></p>-->
                    <button class="btn btn-primary">Download (.msi)</button>
                </div>
            </div>
        </div>
    </div>


</div>
