.underlineCustom {
    font-size: 18px;
    border: none !important;
    cursor: pointer !important;
}

li.active {
    font-size: 18px;
    border: none !important;
    border-bottom: 2px solid #5867dd !important;
    color: #5867dd !important;
}

.btn-primary {

    padding: 6px !important;
}

div.Kj-JD div.Kj-JD-K7 {
    background-color: wheat;
    color: #000;
    cursor: default;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin: 24px 24px 0 16px;
}
