.company-create-container {
  .company-create-form-container {
    form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 20px;

      .error-message {
        margin: 5px;
      }
    }
  }
}
