<div *ngIf="logic.isNotSummaryPage() && false ">
    <h3 *ngIf="logic.isNotSummaryPage()  && logic.CurrentPage !== 'Page1'"
        class="m-subheader__title m-subheader__title--separator">
        Step: {{logic.CurrentTemplatePage.Title}}
    </h3>
</div>

<div *ngIf="logic.isSummaryPage()">
    <div class="">
        <div *ngIf="false && logic.isNotCookBookMode() && logic.SummaryMode == false" class="alert alert-warning">
            Please review your choices and press SAVE if they are correct.
        </div>
    </div>

    <div *ngIf="logic.isCookBookMode()" class="alert alert-info">
        When you press SAVE, Venue will save the following {{logic.ReciepeCnt}} recipes as part of this cookbook.
    </div>
    <h3 *ngIf="logic.isNotCookBookMode() && false " class="m-subheader__title m-subheader__title--separator">
        {{logic.DataValues.Name}}
    </h3>
    <h3 *ngIf="logic.isCookBookMode()" class="m-subheader__title m-subheader__title--separator">
        {{logic.Template.Name}}
    </h3>
</div>