
.comingsoon {
    font-size: 1em;
    color: red;
    margin-left: 1em;
}

.template-name {
    font-size: 1em;

}

.template-description {
    font-size: 1em;
}
.underlineCustom {
    font-size: 18px;
    border: none !important;
    cursor: pointer !important;
}

li.active {
    font-size: 18px;
    border: none !important;
    border-bottom: 2px solid #5867dd !important;
    color: #5867dd !important;
}

tr.template-row:hover {
    background-color: #f2f3f8;
    cursor: pointer;
    border-radius: 4px;
}