<div id="refind-start-page">
    <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar-2 w-nav">
        <div class="div-block-23"><a href="#" class="w-nav-brand"><img src="assets/common/images/reFind-Logo.png" alt=""
                    class="image-3"></a></div>
        <div class="w-nav-button">
            <div class="w-icon-nav-menu"></div>
        </div>
        <div style="position: absolute; right: 0; display: flex;">
            <nav role="navigation" class="nav-menu-2 w-nav-menu">
                <a routerLink="/account/login" class="nav-link-2 w-nav-link w--current">Login</a></nav>

            <nav role="navigation" class="nav-menu-2 w-nav-menu">
                <a routerLink="/account/register" class="nav-link-2 w-nav-link w--current">Register</a></nav>

        </div>
        <div class="container w-container"></div>
    </div>
    <div data-ix="slide-in-scroll-navigation-on-scroll" id="Top" class="banner">
        <div class="container-fluid center">
            <div class="div-block-21">
                <h1 data-ix="slide-in-effect-on-load" class="top-banner-title">Email consumes 1/3 of your work day</h1>
                <div class="text-block-5">reFind reclaims your day by providing power tools for email<br>‍<br>- We file
                    and
                    organize your messages automatically<br>- Provide plugins for Gmail and Outlook<br>- Nothing to
                    learn
                    <br><br>‍</div><a data-ix="slide-out-effect-on-load-2" target="_blank" href="#"
                    class="button white w-button">Join waiting list</a>
            </div>
        </div>
    </div>
    <div>
        <div class="home_rts w-richtext">
            <h2>reFind for Email is the solution</h2>
            <p>reFind is a SaaS application for SMB and Enterprise customers to automate and prioritize corporate email.
                 Within minutes, reFind will fully re-organize your Inbox and eliminate the need for routine daily
                filing of
                messages. Important messages are made visible, and less important messages are filed for later review.
                 reFind enhances your favorite Desktop email applications (Gmail, Outlook, and Office365) and runs on
                your
                mobile devices.
            </p>
        </div>
    </div>
</div>