<div class="refind-signup-info">

  <h4 class="signup-title">Signup for ReFind</h4>

  <p>Congratualtions on your decision to use reFind for Email.</p>
  <p>The process of creating your account requires ReFind to access your email account using OAuth credentials.<p>

      <p>Refind uses your Oauth login for several reasons.</p>
      <ol>
        <li>We will your Gmail or Microsoft Auth Login as the primary login for the ReFind Website</li>
        <li>Using your credentials we will monitor all the messages you recieve</li>
        <li>We will scan your email history to determine the best ways for you to manage your email.</li>
      </ol>

      <p>We have a strict security policy and will never disclose or sell any information we learn about you.</p>

      <p>More information on our security policies can be found <a href="#">HERE</a></p>

      <mat-checkbox>
        Please check this box to confirm that you understand and agree with out policys.
      </mat-checkbox>

      <br /><br />
      <div>
        <button mat-button class="btn btn-primary m-btn m-btn--custom m-btn--air"
          (click)="navigateToLogin()">Next</button>
      </div>
</div>