.refind-signup-info {
  h4 {
    margin: 20px 17%;
    text-align: center;
  }

  ol {
    padding-inline-start: 15px !important;
  }

  p.signup-title {
    font-weight: 400;
  }
}

.signup-code-container {
  margin-top: 20px;
  p {
    text-align: center;
  }
}
